.favorable {
  background-color: hsla(54, 88%, 60%, 0.925);
  width: 50%;
  color: white;
}

.severe {
  background-color: #ff6961;
  width: 50%;
  color: white;
}

.moderate {
  background-color: #77dd77;
  width: 50%;
  color: white;
}

.jumbotron{
    text-align: center;
    color: crimson;
}

button {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
  background-color:white;
  font-size: 1rem;
  font-weight: bold;
}

.card {
  width: 30%;
  
}



.card-body {
  background-color:paleturquoise;
  border: teal solid;
 
}

.card2 {
  /* justify-content:space-around; */
  width: 20%;
  text-align: center;

}

.card-body2 {
background-color:paleturquoise;
border:teal solid;
}
